<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid" >
    <a class="navbar-brand" style="color: #F9A826;font-family: Croissant One; font-size: 28px;"href={% url 'index'%}>Ex-Líbris</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " style="color: #ffffff"href="{% url 'catalog:catalog-list' %}" >Catalogação</a>
        </li>
        
      </div>
      <a class=""  style="color: #ffffff"; href="{% url 'logout' %}">Sair</a>
  </div>
       
</nav>