<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column">
    <header>
      {% include "model-header.html" %}
    </header>

    <main class="content" style="margin-top: 5%">
      <div class="container">
        {% block content %} {% endblock %}
      </div>
      
    </main>
  
    <footer class="py-4">
      {% include "model-footer.html" %}
    </footer>
</body>
      <style>
        html, body {
          height: 100%;
        }
        main{
          flex: 1 0 auto;
        }
        .navbar {
          background:#0E688E;
                   
        }
        footer{
          flex-shrink: none;
          margin-top: 2em;
          background:#0E688E;
          color: #fff;
        }
      </style>
</html>