body {
  font-family: "Lato", sans-serif, Croissant One;
}

.main-head{
  height: 250px;
  background: #FFF;    
}

.sidenav {
  height: 100%;
  background-color: #0E688E ;
  overflow-x: hidden;

}

.main {
  margin-left: 50px;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 10px;}
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 50%; 
  }

  .sidenav{
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
      margin-top: 80%;
  }

  .register-form{
      margin-top: 20%;
  }
}

.login-main-text{
  padding-left: 65px;
  margin-top: 10px;
  color: #fff;
}
.login-main-text h2 {
  color: #F9A826;
  font-family: Croissant One;
  font-size: 66px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
  
}
.login-main-text h2{
  font-weight: 300;
  
}

.btn-black{
  background-color: #0E688E !important;
  color: #fff;
}

